.head_left .h_subTitle{
    background: #FFEEDE;
    color: #ff5e14;
    font-weight: bold;
    padding: 7px 20px;
    border-radius: 20px;
}
.h_title h1{
    font-size: 50px;
}
.contact_btn{
    border:1px solid #fb1c15 !important;
    background-color: transparent !important;
    color: #fb1c15 !important; 
    font-weight: bold !important;
    text-transform: capitalize;
}
.head_right .imageContainer{
    width: 80%;
    height: 80%;
}
.imageContainer .head_rightImg{
    width: 80%;
    height: 80%;
    object-fit: cover;
}
.curve{
    width: 8rem;
    height: 100%;
    object-fit: cover;
}
.starr{
    color: #FB9431;
}

